@keyframes logoanimation {
0% { background-color: red }
25% {background-color: aqua;}
50% {background-color: chartreuse;}
100% {background-color: blueviolet;}

}

div:hover{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: logoanimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: rotate(45deg);
    transform: rotate(90deg);
    transform: rotate(180deg);

}

#image {
    width: 100px;
    height: 100px;
}
